body {
    display: block;
    font-size: 13px;
    font-family: arial,sans-serif;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    
}

a:hover {
    text-decoration: underline;
}

.navbar {
    display: inline;
    position: relative;
    top: 16px;
}

.leftnav {
    display: inline;
    margin: 7px 0 0 10px;
}

#about {
    padding-left: 15px;
}

#store {
    padding-left: 11px;
}

.rightnav {
    display: flex;
    float: right;
    position: relative;
    column-gap: 15px;
    padding: 0 30px;
    align-items: center;
    min-width: 220px;
    top: -8px;
}

.google-apps {
    display: inline-block;
    background-position: -132px -38px;
    background-image: url(//ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    opacity: .66;

}

#sign-in {
    text-decoration: none;
    color: #fff;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    border-radius: 2px;
    padding: 0 12px;
    line-height: 28px;
    font-weight: bold;
}

.main-content {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;

}


#google-logo-img{
    padding-top: 88px;
    height: 92px;
}

.search-area {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.search-bar {
    display: flex;
    width: 560px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 39px;
    padding: 0 8px 0 14px;
    
    
}

.mag-glass {
    display: flex;
    align-self: center;
    color: #9aa0a6;
    fill: currentColor;
    height: 20px;
    width: 20px;
    padding-right: 13px;
}
 

svg {
    height: 100%;
    width: 100%;
}

.clear-button {
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
}

.mic {
    height: 24px;
    width: 24px;
    
}


#Search-box {
    border: none;
    width: 582px;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    outline: none;
    height: 34px !important;
    padding: 1px 2px;
}

.search-button {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.footer-control {
    height: 162px;
}

.footer-bar {
    display: flex;
    line-height: 40px;
    justify-content: flex-end;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
}

.footer-bar a {
    color: #5f6368;
    text-decoration: none;
}

.leftfoot {
    display: flex;
    margin-right: auto;
}

.rightfoot {
    display: flex;
    margin-right: 27px;
    
}

.footer-bar a {
    padding-left: 27px;
}